* {
	font-family: "Meiryo";
	font-size: 12px;
}

body, html {
	margin: 0;
}

html {
	background-image: url(handle.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	box-sizing: border-box;
	height: 100%;
	overflow: hidden;
	background-color: transparent;
}

#overlay {
	color: #ded7be;
	background: rgba(0, 0, 0, 0.35);
	box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.35);
	border-radius: 4px;
	margin: 12px;
}

#source {
	display: none;
	color: #E2EBF5;
	text-shadow: -1px 0 3px #217AA2, 0 1px 3px #217AA2, 1px 0 3px #217AA2, 0 -1px 3px #217AA2;
	font-weight: 300;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#header {
	display: none;
	width: 100%;
	vertical-align: middle;
	font-size: 14px;
	position: relative;
	top: 3px;
}

ol {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li {
	margin: 0px;
	padding: 0px;
}

li .encountertitle {
	color: #C2CBF5;
	font-size: 16px;
	text-shadow: -1px 0 3px #217AA2, 0 1px 3px #217AA2, 1px 0 3px #217AA2, 0 -1px 3px #217AA2;
	vertical-align: middle;
	position: relative;
	left: 5px;
}

li.raidheader{
	border-bottom: 1px solid #FFCC66;
	margin-bottom: 10px;
}

li .duration {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	float: right;
	font-size: 12px;
	color: #E2EBF5;
	text-shadow: -1px 0 3px #217AA2, 0 1px 3px #217AA2, 1px 0 3px #217AA2, 0 -1px 3px #217AA2;
	top: 7px;
}

li .raiddps {
	display: inline-block;
	width: 28%;
	max-width: 70px;
	vertical-align: middle;
	text-align: right;
	font-size: 18px;
	color: #FFCC66;
	text-shadow: -1px 0 3px #996633, 0 1px 3px #996633, 1px 0 3px #996633, 0 -1px 3px #996633;
}

li .dps {
	display: inline-block;
	color: #ded7be;
	width: 10%;
	max-width: 70px;
	vertical-align: middle;
	text-align: right;
	font-size: 16px;
	position: relative;
	//right: 10px;
	text-shadow: -1px 0 3px #996633, 0 1px 3px #996633, 1px 0 3px #996633, 0 -1px 3px #996633;
}

li .acc {
	//display: inline;
	position: absolute;
	left: 10px;
	font-size: 8px;
	text-align: right;
	width: 28%;
	max-width: 70px;
}

li .job {
	width: 4%;
	max-width: 24px;
	align: middle;
	display: inline-block;
	vertical-align: middle;
}

li .job img {
	position: relative;
	right: 3px;
	//top: 2px;
	width: 24px;
	//background-color: red;
}

li .name {
	display: inline-block;
	width: 70%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

li .detail {
	display: inline-block;
	vertical-align: middle;
	color: #ded7be;
	font-size: 12px;
	width: 75%;
	min-width: 250px;
}

li .detail .name {
	color: #E2EBF5;
	font-size: 11px;
	text-shadow: -1px 0 3px #217AA2, 0 1px 3px #217AA2, 1px 0 3px #217AA2, 0 -1px 3px #217AA2;
}

li .detail .besthit {
	//display: inline-block;
	color: #ded7be;
	float: right;
	font-size: 9px;
	text-shadow: -1px 0 2px #996633, 0 1px 2px #996633, 1px 0 2px #996633, 0 -1px 2px #996633;
	position: relative;
}

li .bar {
	position: relative;
	display: block;
	height: 20px;
	background: rgba(168, 0, 0, .75);
	top: -5px;
	margin-top: 3px;
	text-shadow: -1px 0 2px #996633, 0 1px 2px #996633, 1px 0 2px #996633, 0 -1px 2px #996633;
}

.inactive li .bar {
	background: rgba(126, 148, 166, .75);
	margin-top: 3px;
	text-shadow: -1px 0 2px #680000, 0 1px 2px #680000, 1px 0 2px #680000, 0 -1px 2px #680000;
}

.inactive li .bar  .damageperc, .inactive li .bar .critperc, li .bar .directperc {
	color: #FFCC66;
	text-shadow: -1px 0 2px #680000, 0 1px 2px #680000, 1px 0 2px #680000, 0 -1px 2px #680000;
}

li .bar .damageperc {
	display: inline-block;
	position: relative;
	color: #ded7be;
	float: right;
	right: 5px;
	top: 3px;
	font-size: 14px;
	vertical-align: middle;
	text-shadow: -1px 0 2px #996633, 0 1px 2px #996633, 1px 0 2px #996633, 0 -1px 2px #996633;
}

li .bar .number, li .bar .critperc, li .bar .directperc {
	display: inline-block;
	font-size: 9px;
	vertical-align: middle;
	top: -1px;
	left: 2px;
	float: left;
	text-shadow: -1px 0 2px #996633, 0 1px 2px #996633, 1px 0 2px #996633, 0 -1px 2px #996633;
	position: absolute;
}

li .critperc, li .directperc {
	display: inline-block;
	text-align: middle;
	text-align: center;
	vertical-align: middle;
	width: 8%;
	min-width: 45px;
}

li .you {
	//background-color: #5d5125;
}

li .directperc {
	margin-top: 10px;
}
