.Acn .job { background-image:url('../images/glow/acn.png') }
.Arc .job { background-image:url('../images/glow/arc.png') }
.Ast .job { background-image:url('../images/glow/ast.png') }
.Blm .job { background-image:url('../images/glow/blm.png') }
.Brd .job { background-image:url('../images/glow/brd.png') }
.Carbuncle .job { background-image:url('../images/glow/Carbuncle.png') }
.Choco .job { background-image:url('../images/glow/choco.png') }
.Cnj .job { background-image:url('../images/glow/cnj.png') }
.Drg .job { background-image:url('../images/glow/drg.png') }
.Drk .job { background-image:url('../images/glow/drk.png') }
.Dnc .job { background-image:url('../images/glow/dnc.png') }
.Eos .job { background-image:url('../images/glow/Eos.png') }
.Error .job { background-image:url('../images/glow/error.png') }
.Garuda .job { background-image:url('../images/glow/Garuda.png') }
.Gld .job { background-image:url('../images/glow/gld.png') }
.Gnb .job { background-image:url('../images/glow/gnb.png') }
.Ifrit .job { background-image:url('../images/glow/Ifrit.png') }
.Limit-Break .job { background-image:url('../images/glow/Limit Break.png') }
.Lnc .job { background-image:url('../images/glow/lnc.png') }
.Mch .job { background-image:url('../images/glow/mch.png') }
.Mnk .job { background-image:url('../images/glow/mnk.png') }
.Mrd .job { background-image:url('../images/glow/mrd.png') }
.Nin .job { background-image:url('../images/glow/nin.png') }
.Pgl .job { background-image:url('../images/glow/pgl.png') }
.Pld .job { background-image:url('../images/glow/pld.png') }
.Pug .job { background-image:url('../images/glow/pug.png') }
.Rog .job { background-image:url('../images/glow/rog.png') }
.Rdm .job { background-image:url('../images/glow/rdm.png') }
.Sam .job { background-image:url('../images/glow/sam.png') }
.Sch .job { background-image:url('../images/glow/sch.png') }
.Selene .job { background-image:url('../images/glow/Selene.png') }
.Smn .job { background-image:url('../images/glow/smn.png') }
.Thm .job { background-image:url('../images/glow/thm.png') }
.Titan .job { background-image:url('../images/glow/Titan.png') }
.War .job { background-image:url('../images/glow/war.png') }
.Whm .job { background-image:url('../images/glow/whm.png') }
.Alc .job { background-image:url('../images/glow/alc.png') }
.Arm .job { background-image:url('../images/glow/arm.png') }
.Bsm .job { background-image:url('../images/glow/bsm.png') }
.Btn .job { background-image:url('../images/glow/btn.png') }
.Crp .job { background-image:url('../images/glow/crp.png') }
.Fsh .job { background-image:url('../images/glow/fsh.png') }
.Gsm .job { background-image:url('../images/glow/gsm.png') }
.Ltw .job { background-image:url('../images/glow/ltw.png') }
.Min .job { background-image:url('../images/glow/min.png') }
.Cul .job { background-image:url('../images/glow/cul.png') }
.Wvr .job { background-image:url('../images/glow/wvr.png') }

